# Generic stuff

*~
*.[oa]
*.bak*
backup/

# Mac OS X stuff

Desktop DF
Desktop DB
.Spotlight-V100
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd
.syncinfo
.TemporaryItems
._.*

# Windows stuff

Thumbs.db
desktop.ini

# TextMate stuff

*.tm_build_errors
*.tmproj

# Eclipse/Aptana stuff

*.project
doc/

# CodePro stuff

coverage.txt
.coverage
coverage/
htmlcov/

# Python stuff

__pycache__
*.pyc

# Sphinx Stuff

_build/

# Project stuff

testrun
profile_*.*
*graph.png
*.pstats
tests/data/output
design/
testrun/
settings.ini
dist/
scripts/*gh_pages.sh

# PyInstaller 2.0 Stuff

build/
scripts/*.0-1.log

# Github

gh-pages/
